uni_ml_labs/data
uni_ml_labs/galaxies
uni_ml_labs/11_files/mnist
uni_ml_labs/mnist
uni_ml_labs/galaxyNet
uni_ml_labs/galaxyNet01
uni_ml_labs/galaxyNet02
uni_ml_labs/m51_hubble_rgb
uni_ml_labs/crypto_files
uni_ml_labs/readNet_who.npy
uni_ml_labs/readNet_wih.npy
uni_ml_labs/who.npy
uni_ml_labs/wih.npy
uni_ml_labs/who_b.npy
uni_ml_labs/wih_b.npy